<h1><%= @restaurant.name %></h1>
<h2>C'EST MA BITE</h2>

<div>
  <%= @restaurant.address%></br>
  <%= @restaurant.phone_number %></br>
  <%= @restaurant.category %></br>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.content %>
        <% review.rating.times do |x| %>
          <i class="fa fa-star rating"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<br></br>
<br></br>

<hr>

<i class="fa fa-plus">
  <%= link_to "Add a review", new_restaurant_review_path(params[:id]), class: "btn btn-primary" %>
</i>

<hr>

<%= link_to restaurants_path do %>
  <span class="glyphicon glyphicon-menu-left"></span>
  <span>Back to list</span>
<% end %>
